S3method("[",WebCorpus)
S3method(corpus.update,WebCorpus)
S3method(encloseHTML,PlainTextDocument)
S3method(extract,PlainTextDocument)
S3method(getElem,WebHTMLSource)
S3method(getElem,WebJSONSource)
S3method(getElem,WebXMLSource)
S3method(getEmpty,WebCorpus)
S3method(removeNonASCII,PlainTextDocument)
S3method(source.update,WebHTMLSource)
S3method(source.update,WebJSONSource)
S3method(source.update,WebXMLSource)
export(GoogleBlogSearchSource)
export(GoogleFinanceSource)
export(GoogleNewsSource)
export(NYTimesSource)
export(ReutersNewsSource)
export(WebCorpus)
export(WebSource)
export(YahooFinanceSource)
export(YahooInplaySource)
export(YahooNewsSource)
export(corpus.update)
export(encloseHTML)
export(extract)
export(extractContentDOM)
export(extractHTMLStrip)
export(feedquery)
export(getEmpty)
export(getLinkContent)
export(json_content)
export(parse)
export(readGoogle)
export(readGoogleBlogSearch)
export(readNYTimes)
export(readReutersNews)
export(readWeb)
export(readWebHTML)
export(readWebJSON)
export(readWebXML)
export(readYahoo)
export(readYahooInplay)
export(removeNonASCII)
export(removeTags)
export(source.update)
export(trimWhiteSpaces)
importFrom(NLP,"content<-")
importFrom(NLP,"meta<-")
importFrom(NLP,content)
importFrom(NLP,meta)
importFrom(RCurl,curlEscape)
importFrom(RCurl,curlOptions)
importFrom(RCurl,getURL)
importFrom(RJSONIO,fromJSON)
importFrom(XML,addAttributes)
importFrom(XML,free)
importFrom(XML,getNodeSet)
importFrom(XML,htmlTreeParse)
importFrom(XML,newXMLNamespace)
importFrom(XML,removeNodes)
importFrom(XML,saveXML)
importFrom(XML,toString.XMLNode)
importFrom(XML,xmlApply)
importFrom(XML,xmlChildren)
importFrom(XML,xmlInternalTreeParse)
importFrom(XML,xmlValue)
importFrom(XML,xpathSApply)
importFrom(boilerpipeR,ArticleExtractor)
importFrom(boilerpipeR,DefaultExtractor)
importFrom(tm,Corpus)
importFrom(tm,FunctionGenerator)
importFrom(tm,PlainTextDocument)
importFrom(tm,SimpleSource)
importFrom(tm,eoi)
importFrom(tm,getElem)
importFrom(tm,reader)
importFrom(tm,stepNext)
