S3method("[",WebCorpus)
S3method(corpus.update,WebCorpus)
S3method(encloseHTML,PlainTextDocument)
S3method(eoi,WebHTMLSource)
S3method(eoi,WebJSONSource)
S3method(eoi,WebXMLSource)
S3method(extract,PlainTextDocument)
S3method(getElem,WebHTMLSource)
S3method(getElem,WebJSONSource)
S3method(getElem,WebXMLSource)
S3method(getEmpty,WebCorpus)
S3method(removeNonASCII,PlainTextDocument)
S3method(source.update,WebHTMLSource)
S3method(source.update,WebJSONSource)
S3method(source.update,WebXMLSource)
export(GoogleBlogSearchSource)
export(GoogleFinanceSource)
export(GoogleNewsSource)
export(GoogleReaderSource)
export(NYTimesSource)
export(ReutersNewsSource)
export(TwitterSource)
export(WebCorpus)
export(WebSource)
export(YahooFinanceSource)
export(YahooInplaySource)
export(YahooNewsSource)
export(auth.google.reader)
export(corpus.update)
export(encloseHTML)
export(encloseHTML.PlainTextDocument)
export(extract)
export(extract.PlainTextDocument)
export(extractContentDOM)
export(extractHTMLStrip)
export(feedquery)
export(getEmpty)
export(getLinkContent)
export(getURL)
export(json_content)
export(parse)
export(readGoogle)
export(readGoogleBlogSearch)
export(readGoogleReader)
export(readNYTimes)
export(readReutersNews)
export(readTwitter)
export(readWeb)
export(readWebHTML)
export(readWebJSON)
export(readWebXML)
export(readYahoo)
export(readYahooInplay)
export(removeNonASCII)
export(removeNonASCII.PlainTextDocument)
export(removeTags)
export(source.update)
export(trimWhiteSpaces)
importFrom(RCurl,curlEscape)
importFrom(RCurl,curlOptions)
importFrom(RJSONIO,fromJSON)
importFrom(XML,addAttributes)
importFrom(XML,free)
importFrom(XML,getNodeSet)
importFrom(XML,htmlTreeParse)
importFrom(XML,removeNodes)
importFrom(XML,toString.XMLNode)
importFrom(XML,xmlApply)
importFrom(XML,xmlChildren)
importFrom(XML,xmlInternalTreeParse)
importFrom(XML,xmlValue)
importFrom(XML,xpathSApply)
importFrom(tm,eoi)
importFrom(tm,getElem)
